/* Global Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

code {
  font-family: Consolas, 'Courier New', monospace;
}

/* App Component Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #007acc;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login Component Styles */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-box {
  width: 100%;
  max-width: 360px;
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #ddd;
}

.login-title {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
  width: 100%;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.form-input,
.login-button {
  width: 100%; /* Genişlik tüm elemanlar için aynı */
  padding: 10px; /* İç boşluk aynı */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box; /* Genişlik padding dahil */
  margin: 0; /* Ekstra boşluk kaldırıldı */
}

.form-input {
  margin-bottom: 10px; /* Alt boşluk */
}

.form-input:focus {
  border-color: #007acc;
  outline: none;
}

.password-wrapper {
  position: relative;
  display: flex;
}

.show-password-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #007acc;
  cursor: pointer;
  font-size: 12px;
}



.login-button:hover {
  background: #005f99;
}

.error-message {
  color: red;
  font-size: 12px;
  text-align: center;
}
